<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="alert alert-warning alert-dismissible" ng-show="form.password.$error.mongoose || errors.other" role="alert" >
    {{ errors.other }}
  </div>
  <div class="alert alert-info alert-dismissible" ng-show="message" role="alert" >
    {{ message }}
  </div>

  <h3>User info</h3>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Name</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="user.name" placeholder="{{ user.name }}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Username</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="user.username" placeholder="{{ user.username }}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Short Bio</h3>
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="5" ng-model="user.bio"></textarea>
        </div>
      </div>
    </div>
  </div> <!-- End first row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Available Period</h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-4">
              <label for="">Available:
                <input type="checkbox" ng-model="user.isAvailable">
              </label>
          </div>

          <div class="col-sm-4">
              <p class="input-group">
                <input type="string" class="form-control" ui-date-format datepicker-popup="dd/MM/yyyy" ng-model="user.availablePeriod.startDate" is-open="opened" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>

          <div class="col-sm-4">
              <p class="input-group">
                <input type="string" class="form-control" ui-date-format datepicker-popup="dd/MM/yyyy" ng-model="user.availablePeriod.endDate" is-open="opened" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of second row -->

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" ng-click="updateUser()">Update Profile</button>
    </div>
  </div>

  <br/>

  <h3>Sailboats</h3>

  <div class="row" ng-repeat="sailboat in sailboats track by $index"> <!-- Big row to contain sailboat rows -->
    <div class="well" > <!-- Well that repeats for each sailboat -->
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Sailboat name {{ $index }}</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="sailboat.name" placeholder="{{ sailboat.name }}">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Boat model</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="sailboat.boatModel" placeholder="{{ sailboat.boatModel }}">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Boat Info</h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="5" ng-model="boat.info"></textarea>
            </div>
          </div>
        </div>
      </div> <!-- End of first sailboat row -->

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Race name</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="sailboat.raceName" placeholder="{{ sailboat.raceName }}">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End of second sailboat row -->

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Period</h3>
            </div>
            <div class="panel-body">
              <div class="col-sm-4">
                  <label for="">Available:
                    <input type="checkbox" ng-model="sailboat.isActive">
                  </label>
              </div>

              <div class="col-sm-4">
                  <p class="input-group">
                    <input type="string" class="form-control" ui-date-format datepicker-popup="dd/MM/yyyy" ng-model="sailboat.raceDate" is-open="opened" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End of third sailboat row -->

      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-primary" ng-click="updateBoat($index)">Update Boat Info</button>
          <button class="btn btn-danger" ng-click="deleteBoat($index)">Delete Boat</button>
        </div>
      </div>
    </div> <!-- Well that repeats for each sailboat -->
  </div> <!-- Big row to contain sailboat rows - End ng-repeat -->

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <button class="btn btn-primary" ng-click="createBoat()">Add new boat</button>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <button class="btn btn-lg btn-warning" type="submit">Change Password</button>
      </form>
    </div>
  </div>

</div>